.sidebar {
position: fixed;
bottom: 0;
width: 100%;
background-color: #fff;
border-top: 1px solid #ddd;
display: block;
padding: 20px;
padding-left: 20%;
}

.sidebar-nav ul {
display: flex;
justify-content: space-between;
align-items: center;
width: 90%;  
max-width: 600px;  
margin: 0;
padding: 0;
list-style: none;
}

.sidebar-nav ul li {
flex: 1;
text-align: center;
}

.sidebar-nav ul li a {
text-decoration: none;
color: #262626;  
font-size: 24px;  
}

.sidebar-nav ul li a:hover {
color: #000;  
}

.sidebar-nav ul li a.active {
color: #000; 
}
